@media only screen and (max-width:1024px) {}

@media only screen and (min-width:769px) and (max-width:1024px) {
    h1 {
        font-size: 48px;
        line-height: 50px
    }

    h3 {
        font-size: 22px;
        line-height: 29px
    }
}

@media only screen and (min-width:681px) and (max-width:768px) {
    h1 {
        font-size: 48px;
        line-height: 50px
    }

    h3 {
        font-size: 22px;
        line-height: 1.3em
    }
}

@media only screen and (max-width:680px) {
    h1 {
        font-size: 38px;
        line-height: 40px
    }

    h2 {
        font-size: 31px;
        line-height: 37px
    }

    h3 {
        font-size: 22px;
        line-height: 30px
    }
}